.main {
  display: block;
  margin-top: 15vh;
  width: fit-content;
}

/* .feedback-form {
  width: 408px;
} */

.feedback-form label {
  display: flex;
  flex-direction: column;
  text-align: left;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.feedback-form label:first-child {
  margin-bottom: 8px;
}

.feedback-form input,
.feedback-form textarea {
  margin-top: 8px;
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2e2f42;

  transition: border-color 0.35s ease-out;
}

.feedback-form textarea {
  height: 80px;
  resize: none;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #000;
}

.feedback-form button {
  display: block;
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;

  cursor: pointer;
  transition: background-color 0.35s ease-out;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}

.position-container {
  position: relative;
}

.form-email-error-msg,
.form-email-error-empty,
.form-text-error-empty {
  position: absolute;
  top: -3px;
  right: 25px;
  background-color: #fff;
  color: tomato;
  font-size: 12px;

  opacity: 0;
  transform: scale(0);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, color, transform;
}

.form-email-error-msg.is-onscreen,
.form-email-error-empty.is-onscreen,
.form-text-error-empty.is-onscreen {
  opacity: 1;
  transform: scale(1);
}
